
.secOne {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 90vh;
    position: relative;
    z-index: 0;
    gap: 20px;
    overflow: hidden;
    padding-top: 10%;
}
.heading {
    color: RGB(254, 254, 254);
    font-size: 50px;
    font-weight: bolder;
}
.subHeading{
    color: RGB(254, 254, 254);
    font-size: 20px;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    flex-wrap: wrap;
    gap: 50%;
    padding: 5%;
}
.card{
    width: 25%;
    margin-bottom: 20px;
    padding-right:30%;
    padding: 20px;
}

.para {
    color: rgba(255, 255, 255, 0.6);
    padding-left: 10px;
}

.btn {
    background: linear-gradient(121.21deg, rgb(82, 148, 255) 7.78%, rgb(30, 255, 120) 118.78%);
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    font-weight: bolder;
}
.btn:hover{
    background: none;
    background-color: black;
    color: linear-gradient(121.21deg, rgb(82, 148, 255) 7.78%, rgb(30, 255, 120) 118.78%);
    border: 0.1px solid  rgb(30, 255, 120);
    z-index: 10;
    cursor: pointer;
    color: white;
}


.centerImg {
    /* transform: scale(0.4); */
    /* position: absolute; */
    /* bottom: -50%; */
    /* z-index: 2; */
    /* border-radius: 50px; */
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    border-radius: 10px;
   /* margin: 1%; */
}

.imgContainer {
    position: absolute;
    border-radius: 10px;
    bottom: -3%;
    height: fit-content;
    background-color: #4A4B4E;
    width: 50vw;
    height: 50vh;
    padding: 0.5%;
    /* z-index: 1; */
    /* transform: scale(0.5);  */

}
.secTwo{
    background-color: RGB(0, 0, 0);
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.secTwo h1{
    margin-bottom: 100px;
    margin-top: 100px;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.sideImg {
    transform: scale(0.3);
    position: absolute;
    right: -8%;
    bottom: -100%;
    /* z-index: 2s; */
}
.section{
    height: fit-content;
}
.video{
  position: absolute;
  transform: scale(0.6);
  top: -3%;
  left: 15%;
}